* {
  /* background-color: black; */
  color: rgb(0, 0, 0);
  font-family: "Courier New", Courier, monospace;
  margin: 0;
  padding: 0;
}
.nav {
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: #20232a;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.nav li {
  display: inline-block;
  width: 5%;
  padding: 2rem 0.2rem;
}
.nav li a {
  text-decoration: none;
  color: #cff8e5;
  line-height: 1rem;
}
.nav li a:hover {
  transition: all ease-out 0.9s;
  color: blue;
}
.nav__logo img {
  width: 50%;
  display: block;
  margin-top: -5px;
}
.section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.section h1 {
  color: beige !important;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
